<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the exams_table_init() hook (in hooks/exams_table.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="exams_table-id-<%%VALUE(id)%%>" class="exams_table-id text-right text-bold"><%%VALUE(id)%%></td>
		<td id="exams_table-subject_details-<%%VALUE(id)%%>" class="exams_table-subject_details text-bold"><%%VALUE(subject_details)%%></td>
		<td id="exams_table-exam_date-<%%VALUE(id)%%>" class="exams_table-exam_date text-bold"><%%VALUE(exam_date)%%></td>
		<td id="exams_table-exam_type-<%%VALUE(id)%%>" class="exams_table-exam_type text-bold"><%%VALUE(exam_type)%%></td>
		<td id="exams_table-created_by-<%%VALUE(id)%%>" class="exams_table-created_by text-bold"><%%VALUE(created_by)%%></td>
		<td id="exams_table-created_at-<%%VALUE(id)%%>" class="exams_table-created_at text-bold"><%%VALUE(created_at)%%></td>
		<td id="exams_table-last_updated_by-<%%VALUE(id)%%>" class="exams_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></td>
