<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the faculty_table_init() hook (in hooks/faculty_table.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="faculty_table-id-<%%VALUE(id)%%>" class="faculty_table-id text-right text-bold"><%%VALUE(id)%%></td>
		<td id="faculty_table-name-<%%VALUE(id)%%>" class="faculty_table-name text-bold"><%%VALUE(name)%%></td>
		<td id="faculty_table-gender-<%%VALUE(id)%%>" class="faculty_table-gender text-bold"><%%VALUE(gender)%%></td>
		<td id="faculty_table-dob-<%%VALUE(id)%%>" class="faculty_table-dob text-bold"><%%VALUE(dob)%%></td>
		<td id="faculty_table-email-<%%VALUE(id)%%>" class="faculty_table-email text-bold"><a href="mailto:<%%VALUE(email)%%>" title="<%%VALUE(email)%%>" class="btn btn-default"><i class="glyphicon glyphicon-envelope text-info"></i></a></td>
		<td id="faculty_table-phone-<%%VALUE(id)%%>" class="faculty_table-phone text-bold"><%%VALUE(phone)%%></td>
		<td id="faculty_table-address-<%%VALUE(id)%%>" class="faculty_table-address text-bold"><%%VALUE(address)%%></td>
		<td id="faculty_table-hire_date-<%%VALUE(id)%%>" class="faculty_table-hire_date text-bold"><%%VALUE(hire_date)%%></td>
		<td id="faculty_table-department-<%%VALUE(id)%%>" class="faculty_table-department text-bold"><%%VALUE(department)%%></td>
		<td id="faculty_table-designation-<%%VALUE(id)%%>" class="faculty_table-designation text-bold"><%%VALUE(designation)%%></td>
		<td id="faculty_table-created_by-<%%VALUE(id)%%>" class="faculty_table-created_by text-bold"><%%VALUE(created_by)%%></td>
		<td id="faculty_table-created_at-<%%VALUE(id)%%>" class="faculty_table-created_at text-bold"><%%VALUE(created_at)%%></td>
		<td id="faculty_table-last_updated_by-<%%VALUE(id)%%>" class="faculty_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></td>
		<td id="faculty_table-last_updated_at-<%%VALUE(id)%%>" class="faculty_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></td>
